@font-face{
	font-family: "Fuehrer";
	src: url("fonts/fuehrer.ttf");
}
@font-face{
	font-family: "Metal Macabre";
	src: url("fonts/Metal Macabre.ttf");
}
@font-face{
	font-family: "Polygon-Regular";
	src: url("fonts/Polygon-Regular.otf");
}
@font-face{
	font-family: "10187"
	src: url("fonts/10187.otf")
}
h1
{
padding: 2% 2% 2% 2%;	
background: url(plate.jpg);
text-align: center;
text-shadow:tan 2px 2px 3px;
border-radius:  20px 20px 20px 20px;
color:#800080;
font-family: Metal Macabre;
font-style: italic;
font-size: 70px;
transition: .7s;
}
p
{
	background: url(кака.jpg);
	text-align: center;
	color:#DCDCDC;
	font-size: 19px;
	font-family: Polygon-Regular;
		
}
h5
{

text-align: center;
color: #800000;
font-size: 25px;
font-family: Metal Macabre;
text-shadow:tan 2px 2px 3px;
border-radius:  20px 20px 20px 20px;
transition: .7s;
}
h2
{
	font-style: italic;
	font-family: 10187;
	color: gray;
}		
h3 
{
	font-family: 10187;
	color: #B8860B;
	font-size: 25px;
}
tr
{
	background: url(plate.jpg);
}